<div class="gallery">
  <div [hidden]="searchService.spinner" class="gallery__item" [ngClass]="{'select': image['active']}"
       (click)="toggleStore(image);" *ngFor="let image of images">
    <img class="item__img"
         src="https://farm{{image['farm']}}.staticflickr.com/{{image['server']}}/{{image['id']}}_{{image['secret']}}_m.jpg">
    <div class="item__title">{{image['title']}}</div>
  </div>
  <div *ngIf="!images.length" class="type">Type any in the field</div>
</div>
<spinner *ngIf="searchService.spinner"></spinner>

