@import "app/shared/scss/reset";


// Global fonts
*, *:after, *:before {
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
}

h1{
  font-size: 25pt;
  font-weight: bold;
}
h2{
  font-size: 20pt;
  line-height: 30pt;
}
a{
  text-decoration: none;
}
.margin_bottom_10{
  margin-bottom: 10px;
}
